@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 65px;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-links {
    margin-right: 6.5%;
    position: relative;
    display: flex;
    justify-content: center;
}

.settings-content,
.accountmenu-content {
    margin: 3px;
    z-index: 1010;
    position: fixed;
    top: 65px;
    width: 20%;
    min-height: 20vh;
    padding: 5px;
    background: linear-gradient(to bottom, rgba(14, 101, 155, 1), rgba(0, 30, 60, 0.95));
    border-radius: 0 20px 20px 20px;
    opacity: 0;
    animation: slideIn-left 0.5s ease forwards;
}

.accountmenu-content {
    right: 16px;
    border-radius: 20px 0 20px 20px;
    animation: slideIn-right 0.5s ease forwards;
}

.change-theme-block,
.change-language-block {
    display: block;
    float: left;
}

.change-theme-block {
    width: 140px;
    height: 70px;
}

.change-language-block {
    width: 70px;
    height: 210px;
}

/* Изображения и кнопки */
.button-img,
.settings-button,
.account-button,
#header-change-language-block {
    z-index: 1002;
    object-fit: cover;
    margin: 4px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 15%;
    width: 55px;
    height: 50px;
    line-height: 50px;
    opacity: 0.9;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

.settings-button,
.account-button {
    width: 50px;
    height: 40px;
    margin: 10px;
    border: none;
    float: left;
    object-fit: contain;
}

.settings-button {
    transition: transform 0.3s ease;
    /* добавляем transition для плавности анимации */
}

.settings-button:active {
    transform: rotate(180deg);
    /* вращаем кнопку на 180 градусов при нажатии */
}

.account-button {
    float: right;
    margin-right: 25px;
}

#header-change-language-block {
    float: right;
}

/* Дополнительные стили */
.choose-block {
    border: 0px;
    border-radius: 7px;
    opacity: 0;
}

.choose-theme,
.choose-language {
    position: relative;
    top: 100%;
}

.choose-theme {
    width: 140px;
    height: 70px;
}

.choose-language {
    width: 70px;
    height: 210px;
}

/* Анимация */
@keyframes slideIn-left {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn-right{
    from {
        opacity: 0;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Текст */
.change-language-text {
    font-family: "Anton";
    font-size: 30pt;
    color: azure;
    display: block;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.header-links-text {
    color: rgba(168, 169, 170, 0.781);
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    font: 20pt "Anton";
    color: aliceblue;
    border-radius: 15px;
    font-style: normal;
    cursor: pointer;
    line-height: 60px;
}

.header-links-text:hover {
    color: rgba(240, 248, 255, 1);
}

.header-text {
    margin: 15px;
    font: 15pt "Merriweather";
    color: rgba(240, 248, 255, 0.897);
    cursor: pointer;
}

.header-text:hover {
    color: aliceblue;
}