@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');

@media only screen and (max-width: 600px) {
    .structure-block {
        width: 100%;
    }

    .auth-head-text {
        font-size: 20pt;
    }

    .structure-block-maintext,
    .form-input,
    .structure-block h1,
    .structure-block h2,
    .article-text-title,
    .article-text-content,
    .structure-block-editable-title,
    .structure-block-editable-content,
    .form-input,
    .form-label {
        font-size: 10pt;
    }

    .structure-block-addtext {
        font-size: 8pt;
    }

    .structure-block-editor {
        width: 5%;
    }

    .article-button,
    .structure-block-edit-button,
    .changeAuth {
        font-size: 10pt;
        padding: 3px 10px;
    }

    #article-add-image-button {
        font-size: 8pt;
        padding: 0px;
    }
}

@media only screen and (min-width: 601px) {
    .structure-block {
        width: 85%;
    }

    .auth-head-text {
        font-size: 23pt;
    }

    .structure-block-maintext,
    .structure-block h1,
    .structure-block h2,
    .article-text-title,
    .article-text-content,
    .structure-block-editable-title,
    .structure-block-editable-content,
    .form-input,
    .form-label {
        font-size: 13pt;
    }

    .structure-block-addtext {
        font-size: 11pt;
    }

    .structure-block-editor {
        width: 120px;
    }

    .structure-block-edit-button,
    .article-button {
        font-size: 13pt;
        padding: 5px 20px;
    }

    #article-add-image-button {
        padding: 5px;
    }
}

#page-scrollbar-container {
    z-index: 1000;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

#page-scrollbar-container::-webkit-scrollbar {
    background-color: var(--secondary-div-color);
}

#page-scrollbar-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 248, 248, 0.774);
    border: var(--primary-border-color);
    border-radius: 5px;
}
#page-scrollbar-container::-webkit-scrollbar-track-piece {
    background-color: var(--secondary-div-color);
}

.block {
    z-index: 0;
    position: sticky;
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.micro-block {
    z-index: 0;
    position: sticky;
    padding: 3vw;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--primary-border-color);
    margin-bottom: 20px;
    border-radius: 25px;
}

.structure-block {
    position: relative;
    backdrop-filter: blur(5px);
    z-index: 5;
    font-family: 'Merriweather';
    font-weight: 300;
    margin: 10px 0 10px 0;
    font-size: 13pt;
    background-color: var(--primary-div-color);
    border-radius: 25px;
    padding: 20px;
}

.rounded {
    position: relative;
    z-index: 5;
    font-family: 'Merriweather';
    font-weight: 300;
    width: 80%;
    font-size: 13pt;
    background-color: var(--primary-div-color);
    border-radius: 0 25px 25px 0;
    margin-left: 120px;
    padding: 20px;
}

.structure-block-maintext,
.structure-block h1,
.structure-block h2 {
    position: sticky;
    color: var(--primary-text-color);
    text-align: center;
}

.structure-block-maintext {
    white-space: pre-wrap;
    font-family: 'Merriweather';
    font-weight: 300;
}

.structure-block-addtext {
    color: var(--primary-text-color);
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#check-author,
#check-date,
#copy-date {
    cursor: pointer;
    user-select: none;
}

#copy-date {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 11pt;
    color: var(--secondary-text-color);
}

#copy-date:hover {
    color: var(--primary-text-color);
}

.structure-block h1 {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 15pt;
    border-bottom: 2px solid var(--primary-border-color);
}

.structure-block-maintext {
    display: block;
    text-align: justify;
    object-fit: cover;
    width: 100%;
    margin-top: 20px;
}

.article-text-title,
.article-text-content {
    position: sticky;
    display: block;
    padding: 5px;
    width: 99%;
    max-width: 99%;
    border: none;
    background-color: transparent;
    color: var(--primary-text-color);
    font: "Roboto";
    resize: none;
    outline: none;
}

.article-text-title:focus,
.article-text-content:focus {
    border-color: var(--primary-border-color);
}

.article-text-content::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: default;
}

.article-text-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 248, 248, 0.774);
    border: 1px solid black;
    border-radius: 5px;
}

.article-text-title {
    margin-bottom: 10px;
    border-bottom: 2px solid var(--primary-border-color);
}

.article-text-content {
    margin-bottom: 15px;
    min-height: 200px;
    border: 2px solid var(--primary-border-color);
    white-space: pre-wrap;
}

.article-button {
    display: inline-flex;
    float: right;
    background-color: var(--secondary-button-color);
    color: var(--secondary-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#article-add-image-button {
    display: inline-flex;
    background-color: var(--secondary-div-color);
    color: var(--primary-text-color);
}

.article-button:hover {
    background-color: var(--secondary-div-color);
}

.structure-block-lift {
    position: fixed;
    z-index: 1006;
    bottom: 20px;
    right: 2.5vw;
    z-index: 999;
}

#upper-arrow,
#bottom-arrow {
    z-index: 1006;
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    border-bottom: 1px solid rgba(252, 250, 250, 0.438);
    margin: 7px;
    cursor: pointer;
    position: sticky;
}

#upper-arrow:active,
#bottom-arrow:active {
    border-bottom: 0px;
}

#upper-arrow::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 50%;
    width: 14px;
    height: 14px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: translate(-50%, -50%) rotate(-45deg);
}

#bottom-arrow::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 14px;
    height: 14px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.structure-block-calendar {
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 1004;
    border: 1px solid var(--primary-border-color);
    border-radius: 15px;
    background: linear-gradient(to bottom, rgba(1, 23, 36, 0.8), rgba(0, 30, 60, 0.9));
    background-color: var(--primary-div-color);
    color: var(--primary-text-color);
    padding: 10px;
    height: 300px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.calendar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-button {
    background-color: var(--primary-div-color);
    color: var(--primary-text-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.calendar-button:hover {
    background-color: var(--secondary-div-color);
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    cursor: pointer;
    user-select: none;
}

.day-of-week {
    text-align: center;
}

.day {
    text-align: center;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.day:hover {
    border: 1px solid white;
    border-radius: 5px;
}

.empty {
    color: grey;
}

.selected-day {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.structure-block-editor {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    left: -120px;
    z-index: 5;
    font-family: 'Merriweather';
    font-weight: 300;
    width: 120px;
    height: 100%;
    background-color: var(--secondary-div-color);
    border-radius: 25px 0 0 25px;
    color: white;
    animation: slideIn-right 0.5s ease forwards;
}

.structure-block-editable-title,
.structure-block-editable-content {
    position: sticky;
    display: block;
    padding: 5px;
    width: 99%;
    max-width: 99%;
    font: "Merriweather";
    border: none;
    background-color: transparent;
    color: var(--primary-text-color);
    resize: none;
    outline: none;
    object-fit: contain;
}

.structure-block-editable-title {
    font-size: 16pt;
    text-align: center;
    border-bottom: 1px solid var(--primary-border-color);
}

.structure-block-editable-content {
    display: flex;
    min-height: 180px;
    resize: vertical;
}

.structure-block-editable-content::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: default;
}

.structure-block-editable-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 248, 248, 0.774);
    border: 1px solid black;
    border-radius: 5px;
}

.structure-block-edit-button {
    position: relative;
    margin: 0 0 10px 10px;
    background-color: var(--secondary-button-color);
    color: #fff;
    border: none;
    width: 85%;
    cursor: pointer;
    border-radius: 5px;
}

.structure-block-edit-button:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

.structure-block-edit-image {
    position: relative;
    display: flex;
    bottom: 20px;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

@keyframes slideIn-right {
    from {
        opacity: 0;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}