* {
  margin: 0px;
}

@keyframes twinkling {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

#animated-background-base-night {
  background: linear-gradient(to bottom,  #87CEEB, #187bdf);
  position: fixed;
  width: 100%;
  height: 100%;
}

#animated-background-night {
  background: linear-gradient(to bottom, #0e659b, #001e3c);
  display: flex;
  width: 100%;
  height: 100%;
}

.star {
  width: 3px;
  height: 3px;
  background-color: rgb(247, 242, 197);
  border-radius: 50%;
  position: absolute;
  animation: twinkling 3s infinite alternate;
}

.falling-star {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: rgb(247, 242, 197);
  box-shadow: 2px 2px 5px rgba(243, 189, 42, 0.8);
  /* Параметры тени для создания эффекта "хвоста" */
  animation: tailAnimation 1s linear infinite;
  /* Анимация хвоста */
}

@keyframes tailAnimation {
  0% {
    box-shadow: 2px 2px 5px rgba(243, 99, 42, 0.9);
    /* Начальные параметры тени */
  }

  100% {
    box-shadow: 0 0 30px rgba(230, 167, 50, 0.5);
    /* Конечные параметры тени */
  }
}