:root {
    --primary-div-color: rgba(0, 0, 0, 0.0);
    --secondary-div-color: rgba(0, 0, 0, 0.33);
    --primary-border-color: rgba(174, 175, 177, 0.658);
    --secondary-border-color: rgba(8, 20, 44, 0.76);
    --primary-text-color: rgb(192, 192, 192);
    --primary-text-color-hover: rgb(255, 255, 255);
    --secondary-text-color: white;
    --error-color: rgb(255, 131, 131);
    --link-color: rgb(145, 145, 255);
    --primary-button-color: rgba(15, 15, 15, 0.4);
    --primary-button-color-hover: rgba(31, 31, 31, 0.38);
    --secondary-button-color: rgba(8, 70, 240, 0.767);
}