.button-img {
    display: inline-block;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-family: "Anton";
    font-size: 30pt;
    color: var(--primary-text-color);
    position: relative;
    z-index: 1002;
    object-fit: cover;
    margin: 5px 5px 0 0;
    padding: 0;
    border: 1px solid var(--primary-border-color);
    border-radius: 15%; 
    width: 55px;
    height: 50px;
    line-height: 50px;
}

.button-img:hover {
    border: 1px solid rgb(134, 134, 134);
}