@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');
@import url('../../index.css');

.authorisation-window {
    z-index: 1001;
    font-family: 'Merriweather';
    font-weight: 300;
    font-size: 13pt;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 290px;
    background-color: var(--primary-div-color);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

@keyframes shimmer {

    0%,
    100% {
        background-color: var(--shimmer-light);
    }

    50% {
        background-color: var(--shimmer-dark);
    }
}

#authorisation-page {
    text-align: center;
}

#auth-head-text {
    font-size: 25pt;
    margin: 5px;
    text-align: center;
}

#auth-main-form {
    display: flex;
    flex-direction: column;
}

#auth-main-div {
    width: 100%;
    margin-top: 11%;
}

.small-text {
    display: block;
    width: 100%;
    font-size: 11pt;
    font-family: "Poppins";
    font-weight: 200;
}

.small-text a {
    color: var(--link-color);
    float: right;
}

#error-message {
    color: var(--error-color);
    float: left;
}

#code {
    text-align: center;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

#code:focus {
    cursor: text;
}

#checkbox-label {
    display: flex;
    float: right;
}

#checkbox-main {
    height: 16px;
    width: 16px;
    margin: 3px 6px 0 5px;
    display: flex;
    align-items: center;
}

.authorisation-window button {
    margin-top: 11%;
    padding: 7px 0;
    background-color: var(--secondary-button-color);
    color: var(--secondary-text-color);
    font-size: 14pt;
    border: 1px solid var(--primary-border-color);
    border-radius: 10px;
    cursor: pointer;
}

.authorisation-window button:active {
    border: 1px solid black;
}