@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');
@import url('../../index.css');

.authorisation-page {
    position: absolute;
    z-index: 1006;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-div-color);
    top: 0%;
    left: 0%;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    perspective: 1000px;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--secondary-div-color);
    backdrop-filter: blur(5px);
    animation: slideUpDown 0.7s ease;
}

.side {
    position: absolute;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 1.8s ease;
}

.roll {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 15px 0 15px;
    transform-style: preserve-3d;
    transition: transform 1.8s ease;
}

.authorisation-block {
    position: relative;
    z-index: 1001;
    font-family: 'Merriweather';
    font-weight: 300;
    font-size: 13pt;
    width: 300px;
    height: 290px;
    top: 25vh;
    background-color: var(--primary-div-color);
    color: var(--primary-text-color);
    border-radius: 15px;
    padding: 8px 15px 0 15px;
    box-sizing: border-box;
}

.front {
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.back {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.afterwards {
    transform: rotateX(0deg);
    backface-visibility: hidden;
}

.backwards {
    transform: rotateX(-180deg);
    backface-visibility: hidden;
}

.auth-head-text {
    font-size: 23pt;
    text-align: center;
}

.auth-main-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.auth-main-div {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 3%;
}

.small-text {
    display: block;
    width: 100%;
    font-size: 11pt;
    font-family: "Poppins";
    font-weight: 200;
}

.textlink {
    color: var(--link-color);
    float: right;
    cursor: pointer;
}

.error-message {
    color: var(--error-color);
    float: left;
}

.form-input {
    text-align: center;
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.form-input:focus {
    cursor: text;
}

#checkbox-label {
    display: flex;
    float: right;
}

#checkbox-main {
    height: 16px;
    width: 16px;
    margin: 3px 6px 0 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.submitButton {
    width: 70%;
    padding: 4px 0;
    margin-top: 2%;
    background-color: var(--secondary-button-color);
    color: var(--secondary-text-color);
    font-size: 14pt;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.submitButton:active {
    border: 1px solid var(--primary-border-color);
}

.handleAuth {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 300px;
    top: 15vh;
    background-color: var(--secondary-div-color);
    border-radius: 15px;
}

.changeAuth {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    z-index: 1002;
    object-fit: cover;
    margin: 10px 7px;
    background-color: var(--secondary-button-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 25px;
    line-height: 50px;
    opacity: 0.9;
    user-select: none;
    cursor: pointer;
    text-align: center;
    font-size: 12pt;
}

@keyframes slideUpDown {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}