@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');

.authorisation-window {
    z-index: 1001;
    font-family: 'Merriweather';
    font-weight: 300;
    font-size: 13pt;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 290px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.95) 100%);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    /*animation: shimmer 10s infinite;*/
}

.authorisation-window:focus-within(not:authorisation-page){
    border: 2px solid #007bff; 
}
    
@keyframes shimmer {
    0%, 100% {
    background-color: rgba(255, 255, 255, 0.95);
    }
    50% {
    background-color: rgba(255, 255, 255, 0.1);
    }
}
#authorisation-page {
    text-align: center;
}
#auth-head-text {
    font-size: 25pt;
    margin: 5px;
    text-align: center;
}   
#auth-main-form {
    display: flex;
    flex-direction: column;
}
#auth-main-div {
    width: 100%;
    margin-top: 11%;
}
.small-text {
    display: block;
    float: right;
    font-size: 11pt;
    font-family: "Poppins";
    font-weight: 200;
}
.small-text a {
    color: #0558b1;
}
#code {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#checkbox-label {
    display: flex;
    float: right;
}
#checkbox-main {
    height: 16px;
    width: 16px;
    margin: 3px 0 0 5px;
    display: flex;
    align-items: center;
}
button {
    margin-top: 11%;
    padding: 8px 0;
    background-color: #007bff;
    color: white;
    font-size: 14pt;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

